.CharacterSearchInteractions {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.CharacterSearchInteractions__input {
    margin-bottom: 10px;
}